@use "typography";
@use "mixins";

* {
  box-sizing: border-box;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
}

:root {
  --app-font-regular: "SF Pro Display", Helvetica, Arial, sans-serif;
  --app-color-tab-bar: #959595;
  --app-color-tab-bar-background: #{rgba(#f1f1f2bf, 0.75)};
  --app-color-primary: #007aff;
  --app-color-separator: #{rgba(#3c3c435c, 0.36)};
  --app-color-text-primary: #000;
  --app-color-text-secondary: rgba(142, 142, 147, 1);
  --app-color-accent-gold: rgba(241, 170, 5, 1);
  --app-color-background: #fff;
}

body,
html {
  color: var(--app-color-text-primary);
  font-family: var(--app-font-regular);
  height: 100vh;
}

body {
  @include mixins.font(typography.$font-body);

  -webkit-overflow-scrolling: auto;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: inherit;
  margin: 0;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  height: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.page {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100%;
}

a:link,
a:visited {
  color: inherit;
  font: inherit;
  text-decoration: none;
}
